h1 {
    line-height: 1;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-fullscreen {
    max-width: 800px;
    margin: auto;
}

.article-full-screen img {
    text-align: center;
}

.flex-1 {
    flex-grow: 0;
    width: 90px;
    flex-shrink: 0;

}

.flex-1 img {
    object-fit: cover;
}

.flex-1 button {
    width: 90px;
}

.flex-2 {
    flex-grow: 2;
}

.card-title {
    font-size: 18px;
    font-family: "Lucida Grande", Helvetica;
}

.card-title-big {
    font-size: 36px;
    font-family: "Lucida Grande", Helvetica;
    color: #444444;
    margin: 50px;
    text-align: center;
}

.card-summary {
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica;
}

.card-summary-big {
    font-size: 28px;
    font-family: "Lucida Grande", Helvetica;
    font-style: italic;
    margin: 25px 50px;
    color: #aaaaaa;
    line-height: 1;
    text-align: center;
}

img {
    max-width:100%;
    max-height:100%;
}

.thumbnail {
    height: 90px;
    width: 90px;
}

.thumbnail-big {
    height: 500px;
    width: 500px;
    margin: 50px;
}

.article-normal {
    width: auto;
    height: auto;
}

.article-full-screen {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    height: 100%;
}

.article-full-screen > div {
    min-height: 100%;
}

.flex-1-fullscreen {
    display: none;
}

.article-normal > div > img:first-child {
    display: none;
}

@media(max-width: 1199px) {
    .article-full-screen {
        max-width: 75%;
    }
}

@media(max-width: 599px) {
    .article-full-screen {
       max-width: 55%;
    }
}

.display-none {
    display: none;
}

.show-detail-text {
    display: block;
    max-width: 680px;
    margin: auto;
    white-space: initial !important;
}

.meta-data {
    display: none;
}

.meta-data-big {
    text-align: center;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
}
