.sidebar-container {
    background-color: #dadada;
    position: fixed;
    width: 250px;
    right: 0;
    top: 0;
    bottom: 50px;
    overflow: auto;
}

.history-btn {
    position: fixed;
    bottom: 0;
}

.history-btn button {
    width: 250px;
}