h1 {
    line-height: 1;
}

.side-article {
    margin: 25px;
}

.side-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.side-flex-1 {
    flex-grow: 1;
}

.side-flex-2 {
    flex-grow: 2;
}

.side-card-title {
    font-size: 12px;
}

.side-card-title-big {
    font-size: 36px;
    font-family: "Lucida Grande", Helvetica;
    color: #444444;
    margin: 50px;
    text-align: center;
}

.side-card-summary {
    display: none;
}

.side-card-summary-big {
    font-size: 28px;
    font-family: "Lucida Grande", Helvetica;
    font-style: italic;
    margin: 25px 50px;
    color: #aaaaaa;
    line-height: 1;
    text-align: center;
}

img {
    max-width:100%;
    max-height:100%;
}

.side-thumbnail {
    height: 90px;
    width: 90px;
    margin: auto;
}

.side-thumbnail-big {
    height: 500px;
    width: 500px;
    margin: auto;
}

.side-article-normal {
    width: auto;
    height: auto;
}

.side-container-fullscreen {
    max-width: 800px;
    margin: auto;
}

.side-article-full-screen {
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    height: 100%;
}

.side-article-full-screen > div {
    min-height: 100%;
}

.side-display-none {
    display: none;
}

.side-show-detail-text {
    display: block;
    max-width: 680px;
    margin: auto;
    white-space: initial !important;
}

.side-meta-data {
    display: none;
}

.side-meta-data-big {
    text-align: center;
}

.side-close-button {
    position: absolute;
    top: 0;
    right: 0;
}


@media(max-width: 599px) {
    .side-article-full-screen {
        max-width: 55%;
    }
}