.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 400px;
}

@media(max-width: 1199px) {
  .App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 250px;
  }
}

@media(max-width: 600px) {
  .App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 150px;
  }
}